# Global
node_modules/
.env
.DS_Store

# Frontend specific
/frontend/.expo/
/frontend/.vscode
/frontend/.vscode/settings.json
/frontend/nativewind-env.d.ts

# Backend specific  
/backend/.vscode/
/backend/dist/
